.headerNav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: @mainColor;
  position: fixed;
  height: 45px;
  font-family: 'Oswald', sans-serif;
}


.authBtns{
  display: flex;
}
